@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+New+Tai+Lue:wght@400..700&family=Podkova:wght@400..800&display=swap');
:root {
  --meals-green:  hsl(101, 71%, 69%);
  --meals-lt-green:  hsl(101, 71%, 72%);
  --meals-grey: hsl(0, 2%, 12%);
  --meals-red: hsl(11, 61%, 53%);
  --meals-lt-red: hsla(7, 100%, 45%, 0.59);
  --meals-shadow: rgba(0, 0, 0, 0.25);
}
button{
  border-style: none;
  background-color: rgba(0, 0, 0, 0.0);
}
.App {
  text-align: center;
}
.Phone {
  width: 390px;
  height: 46rem;
  position: relative ;
  margin: 2rem auto auto auto;
  background: white;
  border-radius: 20px;
}
.Navbar {
  width: 390px;
  height: 90px;
  position: absolute;
  border: thin solid black;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 34%);
  border-radius: 0px 0px 20px 20px;
}
.NavIcon {
  color: var(--meals-grey);
  height: 2.5rem;
  width: 2.5rem;
}
.NavIconCenter {
  color: var(--meals-grey);
  height: 75px;
  width: 75px; 
}
.Pot{
  margin-top: -8px;
}
.Book, .Lightbulb{
  position: absolute;
  bottom: 14px;
}
.Book {
  left: 3.5rem;
}
.Lightbulb {
  right: 3.5rem;
}
.PageIndicator{
  position: relative;
  background: var(--meals-lt-red); 
  border-radius: 12px;
  transition: 1s;
}
.meals{
  width: 52px; 
  height: 4px; 
  left: 170px;
}
.bookings{
  width: 52px; 
  height: 4px; 
  left: 57px;
  bottom: -5px;
}
.plan{
  width: 52px; 
  height: 4px;
  left: 283px;
  bottom: -5px;
}
.PageHeader {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 5px;
  background-color: #5454545b;
  height: 5rem;
  text-align: center; 
  color: var(--meals-grey); 
  word-wrap: break-word;
}
.HeaderTitle{
  font-family: "Noto Sans", sans-serif;
  font-size: 35px;
  font-weight: 700; 
  text-transform: uppercase;
  position: relative;
  top: 55%;
}
.LeftHeaderButton{

}
.RightHeaderButton{

}
.MealCard{
  position: relative;
  height: 5.5rem;
  display: grid;
  grid-template-areas:
    'DayAbbrev DayAbbrev DayAbbrev DayAbbrev DayAbbrev DayAbbrev'
    'RecipeTitle RecipeTitle RecipeTitle RecipeTitle RecipeTitle RecipeTitle'
    'RespFam RespFam RespFam RespFam DeliveryIcon Time'
    ;
  gap: 2px;
  box-shadow: 0px 4px 4px var(--meals-shadow); 
  border-radius: 13px;
  margin: 12px 15px;
}
.Meal{
  background-color: var(--meals-green);
  background: linear-gradient(180deg, var(--meals-green) 83%, var(--meals-lt-green) 100%);
}
.MyMeal{
  background-color: var(--meals-red);
  .RespFam {
    color: white;
  }
}
.MyMealDeliveryDetails{
  display: none;
}

.DayAbbrev {
  grid-area: DayAbbrev;
  text-align: left;
  padding-left: 12px;
  transform-origin: 0 0; 
  color: var(--meals-grey); 
  font-size: 19px; 
  font-family: Noto Sans New Tai Lue; 
  font-weight: 800; 
  text-transform: uppercase; 
}
.RecipeTitle{
  grid-area: RecipeTitle;
  color: white; 
  font-size: 26px; 
  font-family: Podkova; 
  font-weight: 800; 
  word-wrap: break-word;
}
.RespFam {
  grid-area: RespFam;
  color: var(--meals-red); 
  font-size: auto; 
  font-family: Noto Sans New Tai Lue; 
  font-weight: 656; 
  text-transform: uppercase; 
  word-wrap: break-word;
  text-align: left;
  padding-left: 1rem;
  overflow: hidden;
  max-width: 11rem;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.DeliveryIcon{
  grid-area: DeliveryIcon;
}
.Time{
  text-align: right;
  margin-right: 8px;
  letter-spacing: -.5px;
  word-spacing: -3px;
  grid-area: Time;
  font-size: 17px;
  font-family: Noto Sans New Tai Lue; 
  font-weight: 500; 
  text-transform: uppercase;
}
